@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

#map {
    min-height: 400px;
    width: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.main-image {
    background-image:
    linear-gradient(to bottom, rgb(141, 128, 128), rgba(0, 0, 0, 0.6)),
    url('../images/London-bg.png');
    height: 100vh;
    background-size: cover;
}

.navbar-section {
    padding: 0px;
}

#nav-title {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    letter-spacing: 0.1em;
    color: #ffffff;
    text-transform: uppercase;
}

.section-title {
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    letter-spacing: 0.1em;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 40px;
}

.input-box {
    width: 100%;
    line-height: 50px;
    font-size: 15px;
    margin-bottom: 20px;
}

#reset-button {
    margin-bottom: 20px;
    margin-top: 0;
    border: 5px;
    border-color: rgb(0, 0, 0)
}